<form action="/add_contact" method="POST">
<h1>Ingresa una tarea</h1>

<label for="">Titulo:</label>
    <input type="text" name="nombre_tarea" placeholder="Tarea a realizar"> <br>
<label for="">Descripción:</label>
    <input type="text" name="desc_tarea" placeholder="Describe tu tarea (140 caracteres maximo)"> <br>
<label for="">Numero de Dia: (1 Lun/ 2 Mar / 3 Mier / 4 Jue / 5 Vie / 6 Sab / 7 Dom)</label>
    <input type="text" name="dia_tarea" placeholder="Numero del 1 al 7 segun los dias de la semana (Lun a Dom)"> <br>
<label for="">Realizado:</label>
    <input type="checkbox" name="estado_tarea" placeholder="Tarea Realizada.">
    <input type="submit" name="enviar" value="Agregar">

</form>